<h1>Listing tv_shows</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Url key</th>
    <th>Rate</th>
    <th>Imdb key</th>
    <th>Desc</th>
  </tr>

<% @tv_shows.each do |tv_show| %>
  <tr>
    <td><%=h tv_show.title %></td>
    <td><%=h tv_show.url_key %></td>
    <td><%=h tv_show.rate %></td>
    <td><%=h tv_show.imdb_key %></td>
    <td><%=h tv_show.desc %></td>
    <td><%= link_to 'Show', tv_show %></td>
    <td><%= link_to 'Edit', edit_tv_show_path(tv_show) %></td>
    <td><%= link_to 'Destroy', tv_show, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tv_show', new_tv_show_path %>