<h1>Listing resources</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Rating</th>
    <th>Desc</th>
    <th>Avatar</th>
    <th>Type</th>
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%=h resource.title %></td>
    <td><%=h resource.rating %></td>
    <td><%=h resource.desc %></td>
    <td><%=h resource.avatar %></td>
    <td><%=h resource.resource_type %></td>
    <td><%= link_to 'Show', resource %></td>
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New resource', new_resource_path %>