<p>
  <b>Title:</b>
  <%=h @resource.title %>
</p>

<p>
  <b>Rating:</b>
  <%=h @resource.rating %>
</p>

<p>
  <b>Desc:</b>
  <%=h @resource.desc %>
</p>

<p>
  <b>Avatar:</b>
  <%=h @resource.avatar %>
</p>

<p>
  <b>Type:</b>
  <%=h @resource.resource_type %>
</p>


<% @resource_news.each do |news| %>
  <h3><%=h news["title"] %></h3> </br>
  <%=h news["date"] %> </br>
  <%=h news["abstract"] %> </br>

<% end %>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>