<h1>New friend_ship</h1>

<% form_for(@friend_ship) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :friend_id %><br />
    <%= f.text_field :friend_id %>
  </p>
  <p>
    <%= f.label :group %><br />
    <%= f.text_field :group %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', friend_ships_path %>